body{
    background-size: cover;
    font-family: monospace;
}

#intro{
    background-color: #3ec9dd;
    color: #000000;
    font-size: 24px;
    border-radius: 15px;
    padding: 5px;
}

#intro:hover{
    background-color: #000000;
    color: #3ec9dd;
}
canvas{
    border-color: #ffffff;
    border-width: 5px;
    
}